.chat-summary {
    padding: 12px 12px;
    transition: .1s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
 
    img {
        width: 38px;
        height: 38px;
        border-radius: 19px 5px 19px 19px;
    }
}